@page
@model RazorPagesUI.Pages.Forms.AddAdressModel
@{
    ViewData["Title"] = "Add Address";
}

<div class="text-center d-grid gap-2 col-6 mx-auto">
    <h4 class="display-4">Tomas Cisar + all</h4>
    <p>cisartom@gmail.com + vos.aik.2021@gamil.com</p>
    <p>AIK2</p>
    <p> Tato práce ve výtvorem celé třídy Aik 2 (2021)
    Omlouváme panu Boháčovi za opožděné odevzdání a děkujeme za podklady a velký přínos od Vojty Amona</p>
</div>