@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Politika ochrany soukromí (anglicky Privacy policy) je právní dokument, který popisuje, deklaruje a vysvětluje, jakým způsobem organizace zachází s osobními daty svých zákazníků, dodavatelů, zaměstnanců, uchazečů o práci a dalších osob.

<h2>Proč je politika ochrany soukromí tak důležitá?</h2>

Jako právní dokument naplňuje politika ochrany soukromí požadavky legislativy a chrání soukromí zaměstnanců, zákazníků a dalších osob. Představuje závazná etická pravidla. Politika ochrany soukromí bývá důležitou součástí obchodních podmínek a se stoupající měrou také toho, jak firmy v online businessu zpracovávají osobní informace. Ujišťuje tedy všechny zájmové skupiny o etickém zacházení s osobními daty.

<h2>Co by politika ochrany soukromí měla obsahovat?</h2>

Politika soukromí obvykle obsahuje specifické informace o tom, jaké osobní informace firma sbírá a jak s nimi zachází, tedy jak zajišťuje jejich bezpečnost, jak je sdílí či prodává a případně komu. Přesný obsah politiky závisí na legislativě konkrétní země, kde organizace působí, nebo na tom, o kom informace shromažďuje (například GDPR se vztahuje na všechny organizace, které shromažďují data o občanech EU). Obecně by měla politika obsahovat tyto body:

Základní informace o organizaci
Jaké osobní informace organizace shromažďuje
Proč je shromažďuje
Co a jak s nimi dělá v rámci svých nastavených procesů včetně využitých technologií - jak je shromažďuje, používá, zveřejňuje, transformuje, řídí
Jak zajišťuje jejich bezpečnost a ochranu
Jakým třetím stranám osobní informace předává

<h2>Jak politika ochrany soukromí vypadá a jak je prezentována?</h2>

Jako právní dokument je sepsána písemně. Je vytištěna nebo elektronicky prezentována na internetových stránkách jako součást nebo doplněk obchodních podmínek.
</p>
